.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1180px) {
  .weather-forecast {
    flex-direction: column;
    gap: 50px;
  }
}